.app_wrapper {
    margin: 0 auto;
    display: grid;
    max-width: 1200px;

    grid-template-areas:
    'h h'
    'n c';

    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
}

.header {
grid-area: h;
background-color: olive;
}
.header img { width: 30px;
}

.nav {
    background-color: tomato;
grid-area: n;
}

.content{
    background-color: yellow;
    grid-area: c;
}
.content img{
    width: 100%;
}
